* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.login_background {
    background-image: url("Img/receptionists-5975962_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.login_background :is(.logform) {
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #141e309a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243b55ce, #141e309a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243b55ce, #141e309a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
}

.signinform {
    text-align: center;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.description {
    color: white;
    font-weight: normal;
}

.description :is(h1) {
    font-size: 2.5em;
    letter-spacing: 2px;
}

.input_block {
    border: 1px solid rgb(255, 115, 0);
    border-radius: 5px;
    margin: 20px 0;
}

.input_block :is(input[type= "text"],input[type= "password"], label) {
    background: none;
    display: block;
    text-align: left;
    border: none;
}

.logfinput_blockorm ::placeholder {
    color: rgb(187, 187, 187);
    font-size: 10px;
}